<h2 mat-dialog-title>
    Crear una Cuenta
</h2>
<mat-dialog-content>
    <form [formGroup]="formRegister">
        <div class="form-container">
            <mat-form-field>
                <input formControlName="username" matInput placeholder="Username" required>
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email" required>
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field>
                <input formControlName="normalizedUserName" matInput placeholder="Normalized Username" required>
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field>
                <input formControlName="password" matInput placeholder="Password" required [type] = "hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'">
                    <mat-icon>{{hide ? 'visibility_of' : 'visibility_on'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div>
        <button mat-button color="primary" [disabled]="formRegister.invalid" (click)="onCreate()">
            <mat-icon>save</mat-icon>Crear
        </button>
        <button mat-button color="primary" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>Cancelar
        </button>
    </div>
</mat-dialog-actions>