<div class="dashboard-container" [class.is-mobile] = "mobileQuery.matches">
    <mat-toolbar color="primary" class="dashboard-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">Kalum App</h1>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button (click)="snav.toggle()"><mat-icon>help_outiline</mat-icon></button>
                </li>
                <li *ngIf="authSevice.isAuthenticated()">
                    <button mat-icon-button [matMenuTriggerFor]="menu" >
                        <mat-icon> 
                            person_outline
                        </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar Sesión
                        </button>
                    </mat-menu>
                </li>
                <li *ngIf="!authSevice.isAuthenticated()">
                    <button mat-icon-button [matMenuTriggerFor]="menuLogin">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menuLogin="matMenu">
                        <button mat-menu-item (click)="openFormLogin()">
                            <mat-icon open_in_browser></mat-icon>
                                Iniciar Sesión
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav fixedToGap="56" [mode]="mobileQuery.matches ? 'over': 'side'" [fixedInViewport]="mobileQuery.matches">
            <mat-nav-list>
                <div class="profile-card">
                    <div class="header">
                        <h2>{{!authSevice.isAuthenticated() ? authSevice.usuario.username : 'CAPACÍTATE'}}</h2>
                        <h4>{{authSevice.isAuthenticated() ? authSevice.usuario.email: 'El trabajo bien hecho'}}</h4>
                    </div>
                    <mat-divider></mat-divider>
                    <a mat-list-item [routerLink]="nav.route"  *ngFor="let nav of menuNav" >
                        <mat-icon class="icono">{{nav.icon}}</mat-icon>
                        {{nav.name}}
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
