<div class="dashboard-container" [class.is-mobile] = "mobileQuery.matches">
    <mat-toolbar color="primary" class="dashboard-toolbar" (click)="snav.toggle()">
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">Kalum App</h1>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button><mat-icon>help_outiline</mat-icon></button>
                </li>
                <li>
                    <button mat-icon-button><mat-icon>person_outline</mat-icon></button>
                </li>
            </ul>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav fixedToGap="56" [mode]="mobileQuery.matches ? 'over': 'side'" [fixedInViewport]="mobileQuery.matches">
            <mat-nav-list>
                <div class="profile-card">
                    <div class="header">
                        <h2>Divaldo Tecú</h2>
                        <h4>tecudivaldo@gmail.com</h4>
                    </div>
                    <mat-divider></mat-divider>
                    <a mat-list-item [routerLink]="nav.route"  *ngFor="let nav of menuNav" >
                        <mat-icon class="icono">{{nav.icon}}</mat-icon>
                        {{nav.name}}
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
