<h2 mat-dialog-tittle>
    Carrera Técnica
</h2>
<mat-dialog-content>
    <form [formGroup]="carreraTecnicaFormGroup">
        <div class="form-element-container">
            <mat-form-field>
                <input formControlName="nombre" matInput placeholder="Carrera Técnica" required>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="carreraTecnicaFormGroup.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>